
<html>
    <head>
        <meta charset="UTF-8">
        <title>JavaScriptでスロットゲームを作成</title>
    </head>
    <body>
  <div class="BGM">
    <%= link_to"BGM", "https://www.youtube.com/watch?v=MpYy6wwqxoo",target: :_blank %>
</div>
    <div>
    <section class="fv-section">
        <h1>パチスロ 鬼滅の刃</h1>
        <div class="slot">
            <div class="slot-frame">
                <ul class="reels">
                    <li class="reel"><%=image_tag "k3.jpg"%></li>
                    <li class="reel"><%=image_tag "k4.jpg"%></li>
                    <li class="reel"><%=image_tag "k5.jpg"%></li>
                    <li class="reel"><%=image_tag "k8.jpg"%></li>
                    <li class="reel", id = "1"><%=image_tag "k1.jpg"%></li>
                    <li class="reel"><%=image_tag "k3.jpg"%></li>
                    <li class="reel"><%=image_tag "k2.jpg"%></li>
                    <li class="reel"><%=image_tag "k7.jpg"%></li>
                    <li class="reel"><%=image_tag "k5.jpg"%></li>
                    <li class="reel"><%=image_tag "k8.jpg"%></li>
                    <li class="reel", id = "1"><%=image_tag "k1.jpg"%></li>
                    <li class="reel"><%=image_tag "k3.jpg"%></li>
                    <li class="reel"><%=image_tag "k2.jpg"%></li>
                    <li class="reel"><%=image_tag "k6.jpg"%></li>
                    <li class="reel"><%=image_tag "k7.jpg"%></li>
                    <li class="reel"><%=image_tag "k5.jpg"%></li>
                    <li class="reel", id = "1"><%=image_tag "k1.jpg"%></li>
                    <li class="reel"><%=image_tag "k8.jpg"%></li>
                </ul>
                <ul class="reels">
                    <li class="reel"><%=image_tag"k5.jpg"%></li>
                    <li class="reel"><%=image_tag"k8.jpg"%></li>
                    <li class="reel"><%=image_tag"k3.jpg"%></li>
                    <li class="reel"><%=image_tag"k2.jpg"%></li>
                    <li class="reel"><%=image_tag"k6.jpg"%></li>
                    <li class="reel"><%=image_tag"k4.jpg"%></li>
                    <li class="reel"><%=image_tag"k5.jpg"%></li>
                    <li class="reel"><%=image_tag"k7.jpg"%></li>
                    <li class="reel"><%=image_tag"k1.jpg"%></li>
                    <li class="reel"><%=image_tag"k8.jpg"%></li>
                    <li class="reel"><%=image_tag"k6.jpg"%></li>
                    <li class="reel"><%=image_tag"k1.jpg"%></li>
                    <li class="reel"><%=image_tag"k3.jpg"%></li>
                    <li class="reel"><%=image_tag"k2.jpg"%></li>
                    <li class="reel"><%=image_tag"k6.jpg"%></li>
                    <li class="reel"><%=image_tag"k4.jpg"%></li>
                    <li class="reel", id = "1"><%=image_tag "k1.jpg"%></li>
                    <li class="reel"><%=image_tag"k7.jpg"%></li>
                </ul>
                <ul class="reels">
                    <li class="reel"><%=image_tag "k3.jpg"%></li>
                    <li class="reel"><%=image_tag "k4.jpg"%></li>
                    <li class="reel"><%=image_tag "k5.jpg"%></li>
                    <li class="reel"><%=image_tag "k8.jpg"%></li>
                    <li class="reel", id = "1"><%=image_tag "k1.jpg"%></li>
                    <li class="reel"><%=image_tag "k3.jpg"%></li>
                    <li class="reel"><%=image_tag "k2.jpg"%></li>
                    <li class="reel"><%=image_tag "k7.jpg"%></li>
                    <li class="reel"><%=image_tag "k5.jpg"%></li>
                    <li class="reel"><%=image_tag "k8.jpg"%></li>
                    <li class="reel", id = "1"><%=image_tag "k1.jpg"%></li>
                    <li class="reel"><%=image_tag "k3.jpg"%></li>
                    <li class="reel"><%=image_tag "k2.jpg"%></li>
                    <li class="reel"><%=image_tag "k6.jpg"%></li>
                    <li class="reel"><%=image_tag "k7.jpg"%></li>
                    <li class="reel"><%=image_tag "k5.jpg"%></li>
                    <li class="reel", id = "1"><%=image_tag "k1.jpg"%></li>
                    <li class="reel"><%=image_tag "k8.jpg"%></li>
                    
                    
                    
                    
                </ul>
                </div>
                </div>
            </div>
        </div> 
        
            <img src="https://i.gyazo.com/64a94e85a5ccbc45b8436075477d2a48.png",size:240, class="btn-start">
            <button type="button" class="btn-reset" disabled="true">reset</button>
        
            <button type="button" class="btn-stop" data-val="0" disabled="true">stop 0</button>
            <button type="button" class="btn-stop" data-val="1" disabled="true">stop 1</button>
            <button type="button" class="btn-stop" data-val="2" disabled="true">stop 2</button>
            <button type="button" class="btn-slot" disabled="true">揃った！</button>

 </div>   </body>  
</html>
